body {
    margin: 0;
    padding: 0;
    background-color: #EEEEF0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FFFFFF;
    align-items: center;
}

.header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
    color: #fff;
}

.header_title p {
    margin: 0;
    padding: 0 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #000;
}

.header_title p:hover {
    color: #f39c12;
    transform: scale(1.1);
}

.header_title p:not(.about):hover {
    color: #e74c3c;
}

a.active p {
    color: #ff6600; /* Цвет для активной ссылки */
    font-weight: bold; /* Сделать текст жирным */
    text-decoration: underline; /* Подчеркивание активного элемента */
}

a.active p:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Свечение для активной ссылки */
a.active p {
    text-shadow: 0 0 10px rgba(255, 102, 0, 0.8); /* Добавляем свечение */
}
